<form action="/admin_login/user_management" method="POST">

    <fieldset>
        <legend> User Management</legend>

        <p>Username: <input type="text" name="username"/> </p>

        <p>Password: <input type="text" name="password"></p>

        <p>Management Action: <select id="admin_action" name="admin_action">
            <option value="Create" selected>Create</option>
            <option value="Delete">Delete</option>
        </select>
        <input type="submit"></p>
    </fieldset>

</form>